<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
<!--                    <form class="theme-form">-->
<!--                        <div class="form-row">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="email">First Name</label>-->
<!--                                <input type="text" class="form-control" id="fname" placeholder="First Name" required="">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="review">Last Name</label>-->
<!--                                <input type="password" class="form-control" id="lname" placeholder="Last Name" required="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-row">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="email">email</label>-->
<!--                                <input type="text" class="form-control" id="email" placeholder="Email" required="">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="review">Password</label>-->
<!--                                <input type="password" class="form-control" id="review" placeholder="Enter your password" required="">-->
<!--                            </div>-->
<!--                            <button class="btn btn-solid">create Account</button>-->
<!--                        </div>-->
<!--                    </form>-->


                    <div [hidden]="user">
                        <h1>Sign In with Your Phone Number</h1>

                        <label for="phone">Phone Number</label><br>
                        <input type="text" [(ngModel)]="phoneNumber.country"  class="input" placeholder="1"    maxlength="2">
                        <input type="text" [(ngModel)]="phoneNumber.area"     class="input" placeholder="949"  maxlength="3">
                        <input type="text" [(ngModel)]="phoneNumber.prefix"   class="input" placeholder="555"  maxlength="3">
                        <input type="text" [(ngModel)]="phoneNumber.line"     class="input" placeholder="5555" maxlength="4">

                        <div id="recaptcha-container"></div>

                        <button (click)="sendLoginCode()">SMS Text Login Code</button>

                        <div *ngIf="windowRef.confirmationResult">
                            <hr>
                            <label for="code">Enter your Verification Code Here</label><br>
                            <input type="text" name="code" [(ngModel)]="verificationCode">

                            <button (click)="verifyLoginCode()">Verify</button>
                        </div>

                    </div>

                    <div *ngIf="user">
                        You have successfully logged in with your phone number!

                        UserId: {{ user?.uid }}

                    </div>




                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->